/*
Theme Name: MK-Beans
Description: Custom Child Theme for the Beans Theme.
Author: Beans
Author URI: http://www.getbeans.io
Template: tm-beans
Version: 1.0.0
Text Domain: tm-beans
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.tm-header-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #18517F;*/
}

.tm-header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid;
    border-bottom-color: #00a8e6;
    background-color: #FFF;
    /*-webkit-box-shadow: 0px 4px 5px 0px rgba(92,92,92,0.5);*/
    /*-moz-box-shadow: 0px 4px 5px 0px rgba(92,92,92,0.5);*/
    /*box-shadow: 0px 4px 5px 0px rgba(92,92,92,0.5);*/
}

.tm-header.uk-active {
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid;
    border-bottom-color: #00a8e6;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 80%, rgba(255,255,255,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.75)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 80%, rgba(255,255,255,0.75) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 80%, rgba(255,255,255,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 80%, rgba(255,255,255,0.75) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, rgba(255,255,255,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    /*-webkit-box-shadow: 0px 4px 5px 0px rgba(92,92,92,0.5);*/
    /*-moz-box-shadow: 0px 4px 5px 0px rgba(92,92,92,0.5);*/
    /*box-shadow: 0px 4px 5px 0px rgba(92,92,92,0.5);*/
}

.tm-content {
    border-bottom: 2px solid;
    border-bottom-color: #00a8e6;
}